*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219,219,219,1);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
header .logo{
    height: 39px;
}
header .logo img{
    height: 100%;
    object-fit: contain;
}
header .search{
    width: 250px;
    background-color: rgba(239,239,239,1);
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
header .search input{
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    margin-right: 20px;
    margin-top: 10px;
}
header nav ul li a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
header nav ul li a i{
    font-size: 22px;
    color: rgba(38,38,38,1);
}
/*section*/

section{
    padding: 30px 18%;
    background-color: #fafafa;
    display: flex;
}
.left-side{
    width: 65%;
}
.left-side .story{
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;

}
.left-side .story .stories{
    width: 17%;

}
.left-side .story .stories a img{
    border-radius: 50%;
    border: 2.5px solid #c62d8f;
    padding: 1px;
    object-fit: cover;
}
.left-side .story .stories p{
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-size: 11px;
}
.left-side .story .stories  button{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    overflow: visible;
    bottom: 8;
    left: 19rem;
    text-align: center;
    border-radius: 100%;
    color: white;
    font-size: 15px;
    border: solid 2px white;
}

/*post*/
.post{
    margin-top: 25px;
    background-color: white;
    border: 1px solid rgba(219,219,219,1);
    border-radius: 3px;
}
.post .post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post .post-title .post-left{
    display: flex;
    align-items: center;
}
.post .post-title .post-left .image img{
    border-radius: 50%;
    object-fit: contain;
}
.post .post-title .post-left .details .name{
    padding-bottom: 2px;
    font-weight: bold;
}
.post .post-title .post-left .image{
    margin-right: 15px;
}
.post .post-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.post .post-footer{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.post .post-footer .like-share-comment{
    font-size: 22px;
    margin-right: 10px;

}
.post .post-footer .save{
    font-size: 22px;
}
.post .post-footer-content{
    padding: 0 16px 16px 16px;
}
.post .post-footer-content p{
    margin-bottom: 3px;
}
.post .post-footer-content .likes{
    margin-bottom: 8px;
}
.post .post-footer-content .name{
    font-weight: 600;
}
.post .post-footer-content span{
    margin-left: 10px;
    font-weight: normal;
}
.post .post-footer-content .time{
    font-size: 10px;
    margin-top: 6px;
}
.post .add-comment{
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post .add-comment .left{
    display: flex;
    align-items: center;
}
.post .add-comment .left i{
    font-size: 22px;
    margin-right: 15px;
}
.post .add-comment .left input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
}

.right-side{
    width: 35%;
    margin-top: 15px;
    position: fixed;
    right: 30px;
}

.right-side .profile-title{
    display: flex;
    align-items: center;
}
.right-side .profile-title .profile-left{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.right-side .profile-title .profile-left .image img{
    border-radius: 50%;
    margin-right: 15px;
}
.right-side .profile-title .profile-left .details .name{
    padding-bottom: 3px;
    font-weight: 600;
}
.right-side .profile-title .profile-right p{
    font-weight: 600;
}
.suggestions{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.suggestions p{
    margin-right: 90px;
}
.suggestions p:last-child{
    margin-right: 0;
}
.suggestion-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.suggestion-title .suggestion-left{
    display: flex;
    align-items: center;
    margin-right: 110px;

}
.suggestion-title .suggestion-left .name{
    font-weight: 600;
}
.suggestion-title .suggestion-left .image img{
    border-radius: 50%;
    margin-right: 15px;
}
.suggestion-title .suggestion-left .details{
    width: 50px;
}
.suggestion-title .suggestion-left .details .name{
    padding-bottom: 3px;
}
.suggestion-title .suggestion-right p{
    padding-left: 20px;
    color: rgb(44, 44, 185);
}
.suggestion-title .suggestion-right span{
    color: rgb(44, 44, 185);
    font-size: 40px;
    padding-right: 1px;
}

@media (max-width:992px){
    header{
        padding: 10px 20px;
    }
    section .left-side{
        width: 100%;
    }
    section .right-side{
        display: none;
    }
}
@media (max-width:768px){
    header .search{
        display: none;
    }
    section{
        padding: 30px 20px;
    }
}
@media (max-width:576px){
    .left-side .story .stories{
        width: 45%;
        padding-right: 10px;
    }
    header nav ul li{
        margin-right: 8px;
    }
    .left-side .story .stories  button{
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: blue;
        overflow: visible;
        bottom: 8;
        left: 5rem;
        text-align: center;
        border-radius: 100%;
        color: white;
        font-size: 15px;
        border: solid 2px white;
    }
}